@charset "UTF-8";
/* CSS Document */

body{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 80px;
}

.navbar-dark {
    --bs-navbar-color: #212121;
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #212121;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.5);
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(155, 221, 216, 1.0)!important;
}

.navbar-toggler{
    border: var(--bs-border-width) solid rgba(255, 255, 255, 0.5);
}

.homepage{
    padding-top: 10px;
}

.footer{
    background-color: rgba(89, 89, 89, 1.0)!important;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    margin-top: 10px;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

h1,h2,h3,h4,h5,.description1,.description2,.description3,.description4{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-size: 1.802em;
}

h2{
    font-size: 1.502em;
}

h3{
    font-size: 1.424em;
    text-indent: -30px;
}

h4{
    font-size: 1.266 em;
}

h5{
    font-size: 1.125 em;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.325em;
}

.designpage{
    padding-top: 10px;
}

.cardContainer{
    max-width: 1000px;
}

.btn{
    background-color: #4ca59f;
    color: #fff;
}

.btn-primary:hover{
    background-color: black;
}

.btn-primary:visited, .btn-primary:active, .btn-primary:focus{
    background-color: #4ca59f;
}

.modal-body{
    text-align: center;
}

.accordion-button:not(.collapsed) {
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(155, 221, 216, 1.0);
    box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}

.accordion-button {
    color: var(--bs-accordion-btn-color);
    background-color: rgba(155, 221, 216, 0.25);
    transition: var(--bs-accordion-transition);
}

h6,h7,h8,h9,h10,h12,.playfair1,.playfair2,.playfair3,.playfair4,.playfair5,.playfair7{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: normal;
}

h6{
    font-size: 4.209rem;
}

h7{
    font-size: 3.157rem;
}

h8{
    font-size: 2.369rem;
}

h9{
    font-size: 1.777rem;
}

h11,.playfair6{
    font-family: 'Playfair Display', serif;
    font-style: bold;
    font-weight: 700;
}

.playfair1,.playfair2,.playfair3,.playfair4,.playfair5,.playfair7{
    font-size: 1rem;

}

h13,h14,h15,h16,h17,h19,.roboto1,.roboto2,.roboto3,.roboto4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.cabin1,.cabin3{
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
}

h13{
    font-size: 4.209rem;
}

h14{
    font-size: 3.157rem;
}

h15{
    font-size: 2.369rem;
}

h16{
    font-size: 1.777rem;
}

h18,.cabin2{
    font-family: 'Cabin', sans-serif;
    font-style: bold;
    font-weight: 700;
}

.roboto1,.roboto2,.roboto3,.roboto4,.cabin1,.cabin3{
    font-size: 1rem;

}

h20,h21,h22,h23,h24,h26,.poppins1,.poppins2,.poppins3,.poppins4{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inter1,.inter3{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;

}

h20{
    font-size: 4.209rem;
}

h21{
    font-size: 3.157rem;
}

h22{
    font-size: 2.369rem;
}

h23{
    font-size: 1.777rem;
}

h25,.inter2{
    font-family: 'Inter', sans-serif;
    font-style: bold;
    font-weight: 700;
}

.poppins1,.poppins2,.poppins3,.poppins4,.inter1,.inter3{
    font-size: 1rem;

}

.favicon-logo{
    width: 10%;
}
