<!doctype html>
<html lang="en">

<head>
  <title>Shanel Adolfo Graphical Elements</title>
  <link rel="icon"
        type="image/x-icon"
        href="../img/Favicon.png">
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@700&family=Mulish&display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous">

  <link rel="stylesheet"
        href="../css/style.css">
</head>

<body>

  <div class="d-flex">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button"
                id="sidebarCollapse"
                class="toggle-btn">

          <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
      </div>
      <div class="p-4 pt-6">
        <a href="../index.html"
           class="logo"><img alt="Shanel Adolfo logo"
               class="mb-4"
               src="../img/Favicon.png" width="40px"></a>

        <ul class="list-unstyled components">

          <li>
            <a href="#homeSubmenu"
               data-toggle="collapse"
               aria-expanded="false"
               class="dropdown-toggle">Foundations</a>

            <ul class="collapse list-unstyled"
                id="homeSubmenu">
              <li>
                <a href="../foundation/type.html">Typography</a>
              </li>
              <li>
                <a href="../foundation/color.html">Color Palette</a>
              </li>
              <li>
                <a href="../foundation/logo.html">Logo Variations</a>
              </li>
            </ul>
          </li>

          <li class="active">
            <a href="#ComponentsSubmenu"
               data-toggle="collapse"
               aria-expanded="false"
               class="dropdown-toggle">Components</a>
            <ul class="collapse.show list-unstyled"
                id="ComponentsSubmenu">
              <li>
                <a href="buttons.html">Buttons</a>
              </li>
              <li>
                <a href="cards.html">Cards</a>
              </li>
              <li>
                <a href="footer.html">Footers</a>
              </li>
              <li class="active">
                <a href="#">Graphical Elements</a>
              </li>
              <li>
                <a href="navigation.html">Navigation Bars</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#PatternsSubmenu"
               data-toggle="collapse"
               aria-expanded="false"
               class="dropdown-toggle">Patterns</a>
            <ul class="collapse list-unstyled"
                id="PatternsSubmenu">
              <li>
                <a href="../patterns/pattern1.html">Homepage</a>
              </li>
              <li>
                <a href="../patterns/pattern2.html">Project Page</a>
              </li>

            </ul>
          </li>


        </ul>




      </div>
    </nav>

    <!-- Page Content  -->
    <div class="container">
      <div class="row p-5 pt-6">
        <div id="content">

          <h1>Graphical Elements</h1>

          <div class="col-8">
            <p>These graphical elements are for use within homepage and project pages.
            </p>
          </div>
          <br>
          <div class="mb-4 graphical-elements">
            <h2>Desktop and Tablet Shanel Adolfo Picture</h2>
            <img src="../img/shanel-circle-picture.png"
                 alt="Picture of the portfolio owner, Shanel Adolfo" id="shanel-picture" width="300px">
                 <br><br>
            <h2>Mobile Shanel Adolfo Picture</h2>
            <img src="../img/shanel-circle-picture.png"
                 alt="tablet graphical element" id="shanel-picture" width="200px">
                 <br><br>

                 <h2>Desktop Project Picture</h2>
                 <img src="../img/desktop-placeholderpic.png"
                      alt="tablet graphical element" id="shanel-picture" width="700px">
                      <br><br>

                      <h2>Tablet Project Picture</h2>
                      <img src="../img/tablet-placeholderpic.png"
                           alt="tablet graphical element" id="shanel-picture" width="600px">
                           <br><br>

                           <h2>Mobile Project Picture</h2>
                           <img src="../img/mobile-placeholderpic.png"
                                alt="tablet graphical element" id="shanel-picture" width="300px">
                                <br><br>
                                <h2>Desktop Timeline</h2>
                           <img src="../img/desktop-timeline.png"
                                alt="tablet graphical element" id="shanel-picture" width="700px">
                                <br><br>
                                <h2>Tablet Timeline</h2>
                           <img src="../img/tablet-timeline.png"
                                alt="tablet graphical element" id="shanel-picture" width="400px">
                                <br><br>
                                <h2>Mobile Timeline</h2>
                           <img src="../img/mobile-timeline.png"
                                alt="tablet graphical element" id="shanel-picture" width="200px">

          </div>
          <div class="col-8">
            <h2>Accessibility Considerations</h2>

            <p>Be sure to make all pictures include alt text. Make sure all timelines match color contrast ratio with background of the pages.</p>

            <h2>Usage</h2>

            <ul>
              <li>The Shanel Adolfo pictures will be used for homepages only.</li>
              <li>The Project pictures and timelines will be used for Project pages only.</li>
            </ul>


            <h2>Code Examples</h2>

            <pre><code>

Code will be used for all images:

&lt;div class=&quot;mb-4 graphical-elements&quot;&gt;
  &lt;h2&gt; Desktop and Tablet Shanel Adolfo Picture&lt;/h2&gt;
  &lt;img src=&quot;../img/shanel-circle-picture.png&quot;
  alt=&quot;Picture of the portfolio owner, Shanel Adolfo&quot; id=&quot;shanel-picture&quot; width=&quot;300px&quot;>
&lt;/div&gt;
              
          </div> <!-- Content  -->
        </div><!-- Row  -->
      </div><!-- Container -->
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>